@font-face {
  font-family: "retro";
  src: url("fonts/DungGeunMo.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  cursor: url("Assets/cursor.cur") 0 0, auto;
}

canvas {
  display: block;
}

input {
  width: 200px;
  height: 50px;
  font-size: 30px;
  font-family: retro;
  cursor: url("Assets/text_cursor.cur") 0 0, auto;
}

button {
  width: 150px;
  height: 50px;
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  font-family: retro;
  cursor: url("Assets/cursor.cur") 0 0, auto;
}

button:active {
  cursor: url("Assets/cursor_clicked.cur") 0 0, auto;
}
